[submodule "config-repo"]
	path = config-repo
	url = git@github.com:spring-cloud-samples/config-repo.git
[submodule "config"]
	path = config
	url = git@github.com:spring-cloud/spring-platform-config.git
[submodule "netflix"]
	path = netflix
	url = git@github.com:spring-cloud/spring-platform-netflix.git
[submodule "configserver"]
	path = configserver
	url = git@github.com:spring-cloud-samples/configserver.git
[submodule "eureka"]
	path = eureka
	url = git@github.com:spring-cloud-samples/eureka.git
[submodule "customers-stores"]
	path = customers-stores
	url = git@github.com:spring-cloud-samples/customers-stores.git
[submodule "hystrix-dashboard"]
	path = hystrix-dashboard
	url = git@github.com:spring-cloud-samples/hystrix-dashboard
[submodule "turbine"]
	path = turbine
	url = git@github.com:spring-cloud-samples/turbine
[submodule "locks"]
	path = locks
	url = git@github.com:spring-cloud-samples/locks.git
[submodule "starters"]
	path = starters
	url = git@github.com:spring-cloud/spring-platform-starters.git
[submodule "cli"]
	path = cli
	url = git@github.com:spring-cloud/spring-platform-cli.git
[submodule "rsa"]
	path = rsa
	url = git@github.com:dsyer/spring-security-rsa.git
[submodule "cloudfoundry"]
	path = cloudfoundry
	url = git@github.com:spring-cloud/spring-platform-cloudfoundry
[submodule "bus"]
	path = bus
	url = git@github.com:spring-cloud/spring-platform-bus.git
